<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="thingml.XThingML" xdsmlFilePath="/thingml.dsl/src/thingml.melange" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XThingMLMT -->
    <package class="thingml.xthingmlmt.thingML.ThingMLPackage" genModel="model-gen/XThingMLMT.genmodel" uri="http://thingml.xthingmlmt/thingML/" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="thingml.ThingMLMT" uri="http://thingml.thingmlmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="thingml.ThingMLMT" id="thingml.ThingML" uri="http://www.thingml.org/xtext/ThingML" />
  </extension>
</plugin>
