<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="thingml.XThingML" xdsmlFilePath="/thingml.dsl/src/thingml.melange"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XThingMLMT -->
    <package class="thingml.xthingmlmt.thingML.ThingMLPackage" genModel="model-gen/XThingMLMT.genmodel" uri="http://thingml.xthingmlmt/thingML/"/>
  </extension>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="thingml.ThingMLMT" uri="http://thingml.thingmlmt/"/>
    <modeltype id="thingml.XThingMLMT" uri="http://thingml.xthingmlmt/">
      <subtyping modeltypeId="thingml.ThingMLMT"/>
    </modeltype>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="thingml.ThingMLMT" id="thingml.ThingML" uri="http://www.thingml.org/xtext/ThingML"/>
    <language aspects="PropertyReference:thingml.xthingml.aspects.APropertyReference;Configuration:thingml.xthingml.aspects.AConfiguration;StringLiteral:thingml.xthingml.aspects.AStringLiteral;Expression:thingml.xthingml.aspects.AExpression;Instance:thingml.xthingml.aspects.AInstance;InstanceContext:thingml.xthingml.aspects.AInstanceContext;IntegerValue:thingml.xthingml.aspects.AIntegerValue;Value:thingml.xthingml.aspects.AValue;ThingMLModel:thingml.xthingml.aspects.Printer;TimesExpression:thingml.xthingml.aspects.ATimesExpression;IntegerLiteral:thingml.xthingml.aspects.AIntegerLiteral" entryPoints="thingml.xthingml.aspects.AConfiguration.main(thingml.xthingml.thingML.Configuration)" exactType="thingml.XThingMLMT" id="thingml.XThingML" uri="http://thingml.xthingml/thingML/">
      <adapter class="thingml.xthingml.adapters.thingmlmt.XThingMLAdapter" modeltypeId="thingml.ThingMLMT"/>
      <adapter class="thingml.xthingml.adapters.xthingmlmt.XThingMLAdapter" modeltypeId="thingml.XThingMLMT"/>
    </language>
  </extension>
</plugin>
