<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XThingML -->
      <package
            uri="http://org.thingml.xthingml/thingML/"
            class="org.thingml.xthingml.thingML.ThingMLPackage"
            genModel="model/XThingML.genmodel"/>
   </extension>

</plugin>
