/ThingMLModelAdapter.java
/TypeRefAdapter.java
/.TypeRefAdapter.java._trace
/.PropertyAdapter.java._trace
/.ExpressionAdapter.java._trace
/.AbstractConnectorAdapter.java._trace
/.ExternalConnectorAdapter.java._trace
