/.FunctionAdapter.java._trace
/.FunctionCallStatementAdapter.java._trace
/.ExternExpressionAdapter.java._trace
/.AndExpressionAdapter.java._trace
/.EqualsExpressionAdapter.java._trace
/EqualsExpressionAdapter.java
/NotEqualsExpressionAdapter.java
/.DivExpressionAdapter.java._trace
/.UnaryMinusAdapter.java._trace
/.ArrayIndexAdapter.java._trace
/ArrayIndexAdapter.java
