<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xthingml -->
      <package
            uri="xthingml"
            class="thingML.ThingMLPackage"
            genModel="model/xthingml.genmodel"/>
   </extension>

</plugin>
